@import "base";

.widget {
  h2.widget_title {
    font-size: 24px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.calender_widget, .event_listing {
  .widget_entry, .event_entry {
    margin-top: 0px;
    margin-bottom: 18px;
    color: $secondary-contrast-colour;
    height: 70px;
    display: block;

    .date_stamp {
      font-weight: 300;
      height: 70px;
      width: 60px;
      background: $primary-colour;
      color: $primary-contrast-colour;
      float: left;
      text-align: center;
      @include opacity(1);
      transition: all, 0.4s;

      .day {
        display: block;
        margin-top: 10px;
        font-size: 24px;
        line-height: 29px;
      }

      .month {
        display: block;
        margin-bottom: 26px;
        font-size: 14px;
      }
    }

    .content {
      background: $secondary-colour;
      height: 70px;
      padding-left: 20px;
      overflow:hidden;
      position: relative;

      h2, h4 {
        font-size: 16px;
        line-height: 18px;
        font-weight: 400;
        font-family: $lato-font-stack;
        color: $secondary-contrast-colour;
        margin-top: 13px;
        margin-bottom: 3px;
        display: inline-block;
      }

      p {
        margin: 0;
        padding-right: 20px;
      }

      .event_drop_down_icon {
        position: absolute;
        right: 20px;
        top: 25px;
        font-weight: 100;
        z-index: 2;
        font-size: 20px;
      }
    }
  }

  .widget_entry:visited  {
    color: $secondary-contrast-colour;
  }

  .widget_entry:hover {
    .date_stamp {
      @include opacity(0.8);
      transition: all, 0.4s;
    }
  }
}

.social_widget {
  .widget_entry  {
    margin-top: 0px;
    margin-bottom: 18px;
    outline: 1px solid $faint-line-colour;
    color: $body-font-colour;
    height: 70px;
    display: block;

    p {
      margin-top: 13px;
      margin-right: 20px;
      font-style: italic;
      display: inline-block;
      width: 280px;
    }

    .icon_stamp {
      height: 70px;
      width: 60px;
      float: left;
      margin-right: 20px;
      @include opacity(1);
      transition: all, 0.4s;
    }

    .icon_stamp.twitter {
      background: #55acee url('../images/twitter_icon.png') no-repeat;
      @include image-2x('../images/twitter_icon2x.png');
    }

    .icon_stamp.fb {
      background: #3b5998 url('../images/fb_icon.png') no-repeat;
      @include image-2x('../images/fb_icon2x.png');
    }
  }

  .widget_entry:visited {
    color: $body-font-colour;
  }

  .widget_entry:hover {
    .icon_stamp {
      @include opacity(0.8);
      transition: all, 0.4s;
    }
  }
}

.button.view_all_more_button {
  width: 206px;
}