@import "base";

.widget {
  h2.widget_title {
    font-size: 24px;
    line-height: 25px;
    margin-top: 0;
    margin-bottom: 40px;
  }
}

.calender_widget {
  article {
    margin-top: 0px;
    margin-bottom: 18px;
    background: $secondary-colour;
    color: $secondary-contrast-colour;
    height: 70px;

    h4 {
      font-weight: 400;
      font-family: $lato-font-stack;
      font-size: 16px;
      color: $secondary-contrast-colour;
      margin-top: 13px;
      margin-bottom: 3px;
      display: inline-block;
    }

    p {
      margin: 0;
      padding-right: 20px;
      display: inline-block;
    }

    .date_stamp {
      font-weight: 300;
      height: 70px;
      width: 60px;
      background: $primary-colour;
      color: $primary-contrast-colour;
      float: left;
      margin-right: 20px;
      text-align: center;

      .day {
        display: block;
        margin-top: 10px;
        font-size: 24px;
        line-height: 29px;
      }

      .month {
        display: block;
        margin-bottom: 26px;
        font-size: 14px;
      }
    }
  }
}

.social_widget {
  article {
    margin-top: 0px;
    margin-bottom: 18px;
    outline: 1px solid $faint-line-colour;
    height: 70px;

    p {
      margin-top: 13px;
      margin-right: 20px;
      font-style: italic;
      display: inline-block;
      width: 280px;
    }

    .icon_stamp {
      height: 70px;
      width: 60px;
      float: left;
      margin-right: 20px;
    }

    .icon_stamp.twitter {
      background: #55acee url('../images/twitter_icon.png') no-repeat;
      @include image-2x('../images/twitter_icon2x.png');
    }

    .icon_stamp.fb {
      background: #3b5998 url('../images/fb_icon.png') no-repeat;
      @include image-2x('../images/fb_icon2x.png');
    }
  }
}

.button.view_all_more_button {
  width: 206px;
}